.site-demo-flow {
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.flow-default {
    width: 100%;
    height: 800px;
    overflow: auto;
    font-size: 0;
    margin: 0;
    padding: 0;
}

.flow-default li {
    display: inline-block;
    margin: 0 5px;
    font-size: 26px;
    width: 265px;
    height: 285px;
    margin-bottom: 10px;
    line-height: 60px;
    text-align: center;
    background-color: #eee;
}

.flow-default li img {
    width: 270px;
    height: 285px;
}

.flow-default li div {
    margin-top: 50px;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
