.bs-docs-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
   
}
.bs-docs-footer-links {
    padding-left: 0;
    margin-bottom: 20px;
}
.bs-docs-footer {
    text-align: left;
}

.bs-docs-footer-links li {
    display: inline-block;
	color: #99979c;
}

.bs-docs-footer a {
    color: #fff;
}

.layui-breadcrumb a {
    font-size: 16px;
    text-decoration:none;
}
.col-xs-3 h4{
	 font-size: 16px;
	  margin: 0; padding: 0;
}